<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MeesGame.UI.DefaultUIValues" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="MeesGame.UI.Properties.DefaultUIValues" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MeesGame.UI.DefaultUIValues>
            <setting name="ScrollbarBackgroundColor" serializeAs="String">
                <value>Beige</value>
            </setting>
            <setting name="ScrollbarColor" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="SpriteFont" serializeAs="String">
                <value>menufont</value>
            </setting>
            <setting name="DefaultButtonBackground" serializeAs="String">
                <value>defaultButtonOverlay</value>
            </setting>
            <setting name="ButtonHoverColor" serializeAs="String">
                <value>150, 50, 50, 50</value>
            </setting>
            <setting name="FileExplorerBackground" serializeAs="String">
                <value>Wheat</value>
            </setting>
            <setting name="DefaultEditorControlSpriteFont" serializeAs="String">
                <value>smallfont</value>
            </setting>
            <setting name="ButtonSound" serializeAs="String">
                <value>button_click</value>
            </setting>
            <setting name="DefaultEdgeThickness" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="DefaultButtonEdgeColor" serializeAs="String">
                <value>SlateGray</value>
            </setting>
            <setting name="DefaultButtonSelectedEdgeColor" serializeAs="String">
                <value>Gold</value>
            </setting>
        </MeesGame.UI.DefaultUIValues>
        <MeesGame.UI.Properties.DefaultUIValues>
            <setting name="ScrollBarBackgroundColor" serializeAs="String">
                <value>Red</value>
            </setting>
        </MeesGame.UI.Properties.DefaultUIValues>
    </applicationSettings>
</configuration>